<!DOCTYPE html>
<html>
<head>
    <title>.DEV Copenhagen</title>
    <link rel="icon" href="static/images/x.png">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic" >
</head>
<body>
  <div class="main">
    <h1>{{message}}</h1>
    <h2>This app is Running on:</h2>
    <img src="/static/images/"{{runningon}} height="150" alt={{runningon}}>
    <h2>This app is Built by:</h2>
    <img src="/static/images/"{{builtby}} height="140" alt={{builtby}}>
    <div class="content">
    </div>
  </div>
</body>
</html>
